body{
	padding-top: 20px;
}
.avatar{
	width: 100%;
}
#table-row, .formRow,#search-row{
	margin-top: 50px;
}
.name{
	font-size: 16px;
	font-weight: 600;
}
#adBtn,#form-row,#imgfiles{
	display: none;
}